

.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
    height: 216%;
    width: auto;
}
.navbar-default{
    background-color: #e4000a;
    height: 108px;
    border: 0;
}
.navbar-nav{
  float: right;
  padding-top: 27px;
}

.navbar-default .navbar-nav>li>a{
  color: white;
}
.no_hover:hover{
  color: white !important;
}
.no_hover{
  padding:15px 0 !important;

}
